section.new-tweet {
  background-color: $background-gray;
  border: $border;
  border-radius: $border-radius;
  padding: $narrow-spacing;

  h2 {
    border-bottom: $border-hover;
    margin-top: 0;
  }

  textarea {
    margin: $margin-center;
    padding: $narrow-spacing;
    width: 100%;
  }

  small {
    display: block;
  }

  input {
    margin: 5px 0;
  }

  .counter {
    float: right;
  }

  .invalid {
    color: red;
  }
}