$margin-center: 0 auto;
$border: 1px solid #d3d3d3;
$border-hover: 1px solid #244751;
$border-radius: 5px;
$background-gray: #eee;
$font-stack: 'Roboto Condensed', sans-serif;
$font-color: #244751;
$nav-color: #00a087;
$primary-size: 80px;
$narrow-spacing: 0.5em;