#nav-bar {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  line-height: 80px;
  float: left;
  margin-left: 10px;
}

.nav-right {
  list-style: none;
  float: right;
  margin: 11px 0;
}

.nav-right li {
  background-color: rgba(255, 255, 255, 0.8);
  color: #00a087;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
  padding: 18px 7px;
}

.nav-right a {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

.nav-right li:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #5f5f5f;
}